<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564608705418-tkj31jnr5vveo72jece9eqoaser8nqq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564608705418-tkj31jnr5vveo72jece9eqoaser8nqq1</string>
	<key>API_KEY</key>
	<string>AIzaSyDJY_RvbiQzkTcwtV9HgVtyj3VDmvenkeM</string>
	<key>GCM_SENDER_ID</key>
	<string>564608705418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.practice.tiktokclone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-ew-qwe</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-ew-qwe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564608705418:ios:05474be4b18622db8d1e73</string>
</dict>
</plist>